{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set title = "Password Manager"|t %}

{% set crumbs = [
{ label: "Password Manager"|t, url: url('password-manager') }
] %}

{% if not currentUser.admin %}
{% exit 404 %}
{% endif %}

{% set navItems = {
settings: { label: "General"|t, url: url('password-manager') },
constraints: { label: "Constraints"|t, url: url('password-manager/constraints') },
history: { label: "History"|t, url: url('password-manager/history') },
expiration: { label: "Expiration"|t, url: url('password-manager/expiration') },
emails: { label: "Emails"|t, url:    url('password-manager/emails') }
} %}

{% set docTitle = 'foo' %}

{% block sidebar %}
<nav>
    {% include "_includes/nav" with { items: navItems, selectedItem: selectedNavItem } only %}
</nav>
{% endblock %}