{% extends 'passwordcontrol/_layout' %}

{% set selectedNavItem = 'constraints' %}

{% block content %}

<form id="settings-form" method="post" class="centered" accept-charset="UTF-8" data-saveshortcut>
    <input type="hidden" name="action" value="passwordControl/saveSettings">
    {{ getCsrfInput() }}

    <h2>{{ 'Password Constraints'|t }}</h2>
    <p>{{ 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Peccant depravare chaere spe timeam possimus, omne, voluptatem gustare quamque videantur existimare retinere petat detractio. Mucius efficiendi impedit dicent gaudeat expetendum videntur invitat, possent meminerimus. Multitudinem necessarius.'|t }}</p>
    <hr>

    {{ forms.lightswitchField({
    label: 'Enable Password Contraints'|t,
    instructions: 'Instructions',
    name: 'enabled',
    on: settings.enabled,
    }) }}

    {{ forms.textField({
    label: 'Length'|t,
    name: 'constraint_length',
    size: 10,
    maxlength: 2,
    value: settings.constraint_length,
    instructions: 'The password must be equal to or longer than the specified minimum length.'|t
    }) }}

    {{ forms.textField({
    label: 'Letters'|t,
    name: 'constraint_letters',
    size: 10,
    maxlength: 2,
    value: settings.constraint_letters,
    instructions: 'The password must contain the specified minimum number of letters.'|t
    }) }}

    {{ forms.textField({
    label: 'Lowercase'|t,
    name: 'constraint_lowercase',
    size: 10,
    maxlength: 2,
    value: settings.constraint_lowercase,
    instructions: 'The password must contain the specified minimum number of lowercase letters.'|t
    }) }}

    {{ forms.textField({
    label: 'Uppercase'|t,
    name: 'constraint_uppercase',
    size: 10,
    maxlength: 2,
    value: settings.constraint_uppercase,
    instructions: 'The password must contain the specified minimum number of uppercase letters.'|t
    }) }}

    {{ forms.textField({
    label: 'Punctuation'|t,
    name: 'constraint_punctuation',
    size: 10,
    maxlength: 2,
    value: settings.constraint_punctuation,
    instructions: 'The password must contain the specified minimum number of punctuation (not whitespace or alphanumeric) characters.'|t
    }) }}

    {{ forms.textField({
    label: 'Numbers'|t,
    name: 'constraint_numbers',
    size: 10,
    maxlength: 2,
    value: settings.constraint_numbers,
    instructions: 'The password must contain the specified minimum number of numbers.'|t
    }) }}

    <hr>

    <div class="buttons">
        <input type="submit" class="btn submit" value="{{ 'Save'|t }}">
    </div>
</form>

{% endblock %}