{% extends "_layouts/cp" %}

{% import "_includes/forms" as forms %}

{% set title = "Shield"|t %}

{% set crumbs = [
{ label: "Shield"|t, url: url('shield') }
] %}

{% set cpPath = craft.shield.getCpTrigger %}

{% if not currentUser.admin %}
{% exit 404 %}
{% endif %}

{% block content %}

<form id="settings-form" method="post" class="centered" accept-charset="UTF-8" data-saveshortcut>
    <input type="hidden" name="action" value="shield/save">
    {{ getCsrfInput() }}

    {{ forms.textField({
    label: 'Username'|t,
    name: 'name',
    size: 16,
    value: settings.name ? settings.name : '',
    instructions: ''|t
    }) }}

    {{ forms.textField({
    label: 'Password'|t,
    name: 'pass',
    size: 16,
    value: settings.pass ? settings.pass : '',
    instructions: ''|t
    }) }}

	{{ forms.lightswitchField({
    label: 'Sitewide'|t,
    id: 'enabled_sitewide',
    instructions: 'Shield the entire site, including the Control Panel.'|t,
    name: 'enabled_sitewide',
    on: settings.enabled_sitewide,
    }) }}

    {{ forms.lightswitchField({
    label: 'Control Panel'|t,
    id: 'enabled_control_panel',
    instructions: 'Shield the Control Panel pages at /' ~ cpPath ~ ' and ' ~ cpPath ~ '/*'|t,
    name: 'enabled_control_panel',
    on: settings.enabled_control_panel,
    }) }}

    {{ forms.lightswitchField({
    label: 'Front End'|t,
    instructions: 'Shield the front-end pages.'|t,
    name: 'enabled_front_end',
    on: settings.enabled_front_end,
    }) }}

    {{ forms.lightswitchField({
    label: "Paths"|t,
    name: 'enabled_paths',
    instructions: "Shield specific pages and/or sections by adding the URL paths here. Enter one path per line. The * character is a wildcard. Example paths are news for the news section and news/* for every personal blog, depending on the slug patterns used. / is the homepage."|t,
    name: 'enabled_paths',
    on: settings.enabled_paths,
    toggle: 'paths',
    }) }}

    <div id="paths" class="{% if not settings.enabled_paths %}hidden{% endif %}">
        {{ forms.textareaField({
        rows: 10,
        name: 'paths',
        value: settings.paths,
        }) }}
    </div>

    {{ forms.textField({
    label: "Text"|t,
    name: 'text_unauthorised',
    instructions: "The text to display if the user cancels the shield authentication dialog. If no text is provided, the user will simply see a blank page."|t,
    value: settings.text_unauthorised,
    }) }}

    <hr>

    <div class="buttons">
        <input type="submit" class="btn submit" value="{{ 'Save'|t }}">
    </div>
</form>

{% endblock %}